<div class="row">
    <div class="small-12 columns">
        <h3>Contacts</h3>
        <ul class="users">
            <% @users.each do |user| %>
                <li>
                    <%= link_to user.name, user %>
                    <% if user.messages.where(viewed:nil, recipient: current_user.id).any? %>
                        <span class="new">New!</span>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </div>
</div>
